* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --header: #FF9900;
  --input: #D9D9D9;
  --buttons: #4A93FF;
  --buttons-hover: #227bff;
  --background: #F2F2F2;
}

html {
  background-color: var(--background);
}

#header {
  display: flex;
  background-color: var(--header);
  padding: 3% 5%;
  gap: 4%;
}

#container {
  padding: 7.5% 5%;
}

#form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-label {
  padding: 4% 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  padding: 3%;
  background-color: var(--input);
  border: none;
  margin-top: 2%;
}

#imageInput {
  background-color: var(--background);
}

label {
  font-weight: 700;
}

#ingredientes {
  font-size: 12px;
  min-height: 12vh;
}

#imageInput {
  background-color: #3498db;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

#acao-button {
  background-color: var(--buttons);
  border: none;
  color: var(--background);
  border-radius: 20px;
  padding: 3% 20%;
  font-size: 16px;
  font-weight: 700;
  margin: 10% 0 7.5% 0;
}

#acao-button:hover{
  background-color: var(--buttons-hover);
  cursor: pointer;
}

#titulo-lista{
  padding: 5% 0 5% 0;
  border-top: 1px solid #000;
}

ul > li {
  list-style: none;
}